:root {
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --background: #F5F4FA;
    --background-color: #2F303A;
}

.body {
    font-family: 'Roboto', sans-serif;
    --main-color: #212121;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Секция Header*/

.header-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--third-color);
}
.header-logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26 );
    letter-spacing: 0.03em;
    color: #000000;
}

.header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.link:focus, 
.link:hover {
    color: var(--third-color);
}

.email-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.tel-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

/*Секция hero*/

.hero {
    background: var(--background-color);
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fourth-color);
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--fourth-color);
    background-color: var(--third-color);
    
}

.hero-button:hover{
    background-color: #188CE8;
}

.hero-button{
    cursor: pointer;
}

/*Секция Наши преимущества*/

.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/*Наша команда*/

.main-team {
    background: var(--background);
    }


.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
}

.team-blok {
    background: #FFFFFF;
}

/*Футер*/

.footer {
    background: var(--background-color);
}

.footer-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}

.footer-address-item:hover{
    color: #2196F3;
}

.footer-email {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*Портфолио header*/

.portfolio-header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.portfolio-email-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}
 
.portfolio-tel-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}

/*Портфолио кнопки*/

.buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}


.button-list:hover, 
.button-list:focus { 
    background-color: var(--third-color);
    color: #FFFFFF;
}

.button-list {
    cursor: pointer;
}

/*Секция Проэкты*/

.portfolio-project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.portfolio-project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--second-color);
}